* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i, svg {
  pointer-events: none;
}

.kick-pad, .snare-pad, .hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background-color: deepskyblue;
  opacity: 0.5;
}

.snare-pad {
  background-color: violet;
  opacity: 0.5;
}

.hihat-pad {
  background-color: orange;
  opacity: 0.5;
}

.pad {
  transition: all 0.3s ease;
}

.kick-pad.active, .snare-pad.active, .hihat-pad.active {
  opacity: 1;
}

.sequencer {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.hihat-track, .snare-track, .kick-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.hihat, .snare, .kick {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.mute {
  padding: 1rem;
  width: 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: lightgrey;
  box-shadow: 0.2rem 0.2rem 0.2rem grey;
}

.mute.active {
  background-color: red;
}

.play {
  display: flex;
  justify-content: center;
  width: 8rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: lime;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.2rem limegreen;
  cursor: pointer;
  transition: all 0.3s ease;
}

.play.active {
  background-color: red;
  box-shadow: 0.2rem 0.2rem 0.2rem darkred;
}

.tempo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.tempo-slider {
  width: 50%;
  padding: 0.1rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  background-color: lightgrey;
  cursor: pointer;
  border-radius: 1rem;
}

.tempo p {
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
}

select {
  padding: 1rem;
  font-size: 1rem;
}



@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}